.about_heading{
    text-align: center;
    margin-top: 50px;
}
.about_heading hr{
    margin-top: 20px;
    border:0.1px solid orange
}
.about_heading h1{
    font-size: 60px;
}

.inside_about_img{
    margin-top: 30px;
    display: flex;
    justify-content:center;
}

.line_img{
    margin-top: 10px;
    margin-left: 100px;
}

.new_text{
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}

.about_box{
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.about_left{
    width: 100%;
}
.about_left h1{
    font-size: 60px;
    text-align: center;
}
.left_p{
    font-size: 24px;
    text-align: center;
}

.about_text1{
    margin-top: 150px;
    font-size: 24px;
}

.about_text2{
    margin-top: 40px;
    font-size: 24px;
}

.about_text3{
    font-size: 20px;
}

.about_text{
    width:80%;
    text-align:start;
    margin-left: 90px;
}

.about_last h1{
    font-size: 60px;
}

.about_last hr{
    margin-top: 20px;
    border:0.1px solid orange
}

.about_last_box{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.about_last_left{
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
    margin-top: 50px;
}

.about_last_right{
    width:80%;
}
.about_last_right img{
    margin-left: 80px;
    object-fit: cover;
    margin-top: 50px;
}

@media  (max-width:640px){
    .about_heading h1{
        font-size: 40px;
    }
    .inside_about_img{
        margin-top: 10px;
    }
    .line_img{
        margin-left: 0px;
    }
    .about_img{
        overflow: hidden;
    }
    .about_box{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .about_left h1{
        font-size: 40px;
    }
    .left_p{
        font-size: 24px;
        text-align: left;
    }
    .about_text1{
        margin-top: 60px;
        font-size: 24px;
    }
    .about_text{
        width:100%;
        text-align:start;
        margin-left: 20px;
    }
    .about_last h1{
        font-size: 50px;
        margin-top: 25px;
    }
    .about_last_box{
        display:flex;
        flex-direction: column;
    }
    .about_last_right{
        width:100%;
    }
    .about_last_right img{
        margin-left: 0px;
    }

}

@media  (max-width:1023px){
    .about_box{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .new_text {
        font-size: 20px;
        margin-top: 40px;
    }
    .about_left h1{
        font-size: 55px;
    }
    .left_p{
        font-size: 24px;
        text-align: left;
    }
    .about_text1{
        margin-top: 60px;
        font-size: px;
    }

    .about_text{
        width:100%;
        text-align:start;
        margin-left: 20px;
    }
    .about_last h1{
        font-size: 50px;
        margin-top: 25px;
    }
    .about_last_box{
        display:flex;
        flex-direction: column;
    }
    .about_last_right{
        width:100%;
    }
    .about_last_left p{
        font-size: 24px;
    }
    .about_text2{
        font-size: 30px;
    }
    .about_text3{
        font-size: 24px;
        margin-top: 10px;
    }
    
}