.main{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 100px;
}

.inside_main{
    display: flex;
    /* margin-top: 50px; */
}

.main_left h1{
    font-size: 40px;
    margin-top: 70px;
    font-weight: 700;
}

.main_left p{
    font-size: 25px;
    line-height: 40px;
    
}
.main_right{
    margin-top: 80px;
    margin-left: 30px;
    width:100%;
}

.inside_main_1{
    margin-top: 80px;
}
.inside_main_1 h1{
    font-size: 40px;
    font-weight: 700;
}

.inside_main_1 ol{
    font-size: 25px;
    line-height: 40px;
}

.inside_main_1 p{
    font-size: 25px;
    line-height: 40px;
}

@media  (max-width:640px){
    .main{
        margin-top:16px;
    }
    .inside_main{
        display: flex;
        flex-direction: column;
    }
    .main_left h1{
        font-size: 30px;
        margin-top: 0px;
        font-weight: 500;
    }
    .main_left p{
        margin-top: 10px;
        font-size: 20px;
        line-height: 40px;
        
    }
    .main_right{
        margin-top: 0px;
    }
    .inside_main_1{
        margin-top: 20px;
    }
    .inside_main_1 h1{
        font-size: 30px;
        font-weight: 500;
    }
    .inside_main_1 ol{
        font-size: 20px;
    }
    .inside_main_1 p{
        font-size: 20px;
        line-height: 40px;
    }
}

@media  (max-width:1023px){
    .inside_main{
        display: flex;
        flex-direction: column;
    }
}